*{
    margin:0;
    padding:0;
}

h1{
    margin: 35px auto;
    text-align: center;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 42px;
	font-weight: normal;
}
body{
    color:#444444;
	font-size:13px;
	background: #f2f2f2;
	font-family:Arial, Helvetica, sans-serif;
}
#main{
    width:920px;
    margin:15px auto;
    text-align:center;
    position:relative;
}
#gallery{
    box-shadow: 0 0 3px #aaaaaa;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border:1px solid white;
    width:920px;
    overflow: hidden;
    background: url(./images/panel.jpg) repeat-x bottom center #ffffff;
}
#slides{
    height:400px;
    width:3680px;
    overflow:hidden;
    transition:all 1s;
}
.slide{
    float:left;
}
#menu{
    height:45px;
}
li{
	width:60px;
	display:inline-block;
	list-style:none;
	height:45px;
    overflow:hidden;
}
.fbar{
    width:2px;
    background:url(images/divider.png) no-repeat right;
}
li>div{
    display: block;
    height:35px;
    width:100%;
    padding-top:10px;
    background:url(images/divider.png) no-repeat right;
}
li.inact:hover{
	background:url(images/pic_bg.png) repeat;
}
div.act,div.act:hover{
	background:url(images/active_bg.png) no-repeat;
}
li.act div{
	cursor:default;
}